<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.detectick_app"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Detectick"
        android:supportsRtl="true"
        android:theme="@style/Theme.Detectick_app"
        tools:replace="allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".DrActivity"
            android:parentActivityName=".TicksActivity"
            android:exported="false" />
        <activity
            android:name=".TicksActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".IrsActivity"
            android:parentActivityName=".TicksActivity"
            android:exported="false" />
        <activity
            android:name=".RsActivity"
            android:parentActivityName=".TicksActivity"
            android:exported="false" />
        <activity
            android:name=".Yolov8Ncnn"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DetectActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>